body{
    max-width: 500px;
    margin: auto;
}
.post_img{
    display:block;
    width: 100%;
}
.ratingcontainer{
    display: flex;
    justify-content: end;
    padding: 15px 0;
}
.postrating{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
}
.pr_count{
   padding-left: 5px;
}
.pr_btn{
    margin-right: 5px;
    color: #555555;
}
.postrating:not(:last-child){
margin-right: 10px;
}
.pr_select > .pr_btn,
.pr_select > .pr_count{
    color: #009578;
}
.postrating:not(.pr_select) > .pr_btn:hover {
    color: #000000;
}